#about {
    display: flex;
    flex-direction: row;
    background-color: rgb(242, 233, 228);
}

#aboutImg {
    width: 270px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
}

#aboutText {
    margin: 20px;
    color:rgb(34, 34, 59);
}